---
---

* {
  box-sizing: border-box;
}

body {
    background: #05091a;
    overflow-x: hidden;
    font-family: 'Work Sans',Helvetica,Arial,sans-serif;
    min-width: 380px;
    color: #{{ site.data.template.color.primary }};
    text-transform: uppercase;
}

@font-face {
    font-family: 'Signerica'; 
    src: url('{{ site.baseurl }}/font/Signerica_Thin.ttf');
    letter-spacing: 2px;
}

.signerica {
    color: #FFBD33;
    font-family: 'Signerica';
    text-transform: none;
}


p {
    font-size: 16px;
    margin: 0 0 15px;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #{{ site.data.template.color.primary }};
}

a:hover,
a:focus,
a:active,
a.active {
    color: #{{ site.data.template.color.secondary }};
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: lighter;
    color: #FFBD33;
    font-family: 'Signerica';
    text-transform: none;
}

h1 {
    color: #FFF;
    font-family: 'Work Sans',Helvetica,Arial,sans-serif;
    font-size: 55px;
    margin: 100px 0 70px;
    text-transform: uppercase;
}

h2 {
    margin: 50px 0 20px;
}

h3 {
    margin: 0 0 50px;
}

h4 {
    color: #FFF;
    display: block;
    font-family: 'Work Sans',Helvetica,Arial,sans-serif;
    margin: 10px 0;
    text-transform: uppercase;
}

::-moz-selection {
    text-shadow: none;
    background: #{{ site.data.template.color.primary }};
}

::selection {
    text-shadow: none;
    background: #{{ site.data.template.color.primary }};
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #{{ site.data.template.color.primary }};
}

html,
body {
  font-family: 'Work Sans', sans-serif;
  color: white;
  letter-spacing: 4px;
  height: 100%;
  margin: 0;
}

.invite {
    text-align: center;
    background-image: 
        url('{{ site.baseurl }}/img/header/topLeft.png'),
        url('{{ site.baseurl }}/img/header/topRight.png'),
        url('{{ site.baseurl }}/img/header/bottomLeft.png'),
        url('{{ site.baseurl }}/img/header/bottomRight.png');
    background-repeat: 
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;
    background-position: 
        top left,
        top right,
        bottom left, 
        bottom right;
  display: flex;
  flex-flow: column;
  height: 100%;
  min-height: 900px;
  text-align: center;
  padding: 50px 0 50px;
}

.copy {
    border: 1px solid #{{ site.data.template.color.secondary}};
    margin: 20px;
    padding: 50px 50px 30px;
    letter-spacing: 2px;
    text-transform: none;
    line-height: 1.75em;
}

.menu {
    text-align: center;
    margin: 20px;
    padding: 50px 50px 30px;

    ul {
        margin: 0 ; 
        padding: 0;
    }

    li {
        list-style: none;
    }

    label {
        display: block;
        margin: 10px 0;
    }

    select {
        width: 200px;
    }
}

input[type=submit] {
    background: transparent; 
    border:0 none;
    cursor:pointer;
    margin: 20px 0;
    padding:5px 15px; 
    font-size: 20px;
}

.required {
    color: red;
}

.rsvp {
    padding: 200px 0 0;
}

.numeric {
    font-variant-numeric: ordinal;
}