<form class="form" action="https://docs.google.com/forms/d/e/1FAIpQLScG5BbgJiFdMj2lZ0JTMYgmXIDO0Dt6W680e3SUUybeh7JXOw/formResponse">

    <ul>
        <li>
            <label name="entry.2024344285">Name</label>
            <input type="text" name="entry.2024344285" required />
        </li>
        <li>
            <label name="entry.379116634">Starter</label>
            <input type="text" name="entry.379116634" required />
        </li>
        <li><input type="submit" value="Send" /></li>
    </ul>

</form>