<!-- RSVP Form -->
    <section id="rsvp" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">RSVP</h2>
                    <h3 class="section-subheading text-muted">Where to go and when to go</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>Insert RSVP form here</p>
                </div>
            </div>
        </div>
    </section>