<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>
      <section class="invite">
        <h1>Minh <span class="signerica">&amp;</span> Rich</h1>
        <p>Request the pleasure of</p>
        <p>your company to celebrate</p>
        <p>their marriage</p>

        <h2 class="signerica">Venue</h2>
        <p>2PM on Saturday, 21ST July</p>
        <p>Islington Town Hall</p>
        <p>Upper St, London N1 2UD</p>

        <h2 class="signerica">Reception</h2>
        <p>To follow at The</p>
        <p>Canonbury Tavern</p>
        <p>
          21 Canonbury Pl, <br> 
          London N1 2NS
        </p>
      </section>
      <section class="copy">
        <h3>Order of the day:</h3>
        <p>
          13:45 (for 14:00 start)<br />
          Wedding service at Islington Town Hall
          Upper Street, N1 2UD
        </p>
        <p>
          15:00 <br />
          Drinks reception at The Canonbury Tavern <br />
          21 Canonbury Place, N1 2NS
        </p>
        <p>
          17:30 <br>
          Dinner and speeches
        </p>
        <p>
          21:00 <br>
          First dance
        </p>
        <p>
          23:300 <br>
          Carriages
        </p>
      </section>
      <section class="menu">
        <h3>Dinner Menu</h3>
        <p>Please let us know if you have any dietary preferences or allergies</p>
        <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScG5BbgJiFdMj2lZ0JTMYgmXIDO0Dt6W680e3SUUybeh7JXOw/viewform?embedded=true" width="100%" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> -->

        {% include form.html %}
      </section>
      <section class="copy">
        <h3>Registry</h3>
        <p>Rather than receiving gifts, we would be grateful if we could together support Macmillan Cancer Support and Marie Curie.</p>
        <p>Cancer continues to impact all of our lives. Macmillan provides support and advice for thousands of lives affected by cancer. Marie
Curie offers care for those with a terminal illness and guidance for the bereaved.</p>
        <p>Donations can be made on <a href="http://www.justgiving.com/fundraising/
minhandrich">www.justgiving.com/fundraising/ minhandrich</a></p>
        <p>More information about each charity can be found on <a href="www.macmillan.org.uk">www.macmillan.org.uk</a> and
<a href="www.mariecurie.org.uk">www.mariecurie.org.uk</a></p>
      </section>

    </body>

    {% include footer.html %}
</html>